cmake-build-*
.idea
build
data
profiler_out
nsight
fileList.txt
*.so
*.mp4
*.pcd
*.bin
*.jpg
*.ncu-rep
tracker_output*
__pycache__
rendering/
prediction/
variance/
power/module/
.DS_Store
mapping_statistics_cpu.csv
mapping_statistics_cuda.csv
mapping_statistics_cpu_multi_core.csv
mapping_statistics_cpu_single_core.csv
spgf

!example/rendering/spgf
!example/rendering

